input {
    color:red;
    font-size: 15px;
    margin: 10px;
    background-color: peachpuff;
    border-style: groove;
    border-color: tomato;
    border-width: medium;
    width: 200px;
    border-radius: 100px;
    position: relative;
    left: 40%;
    box-shadow: 10px 5px 5px red;
    padding: 7px;
  }


  input:hover {
    font-size: 15px;
    margin: 10px;
    color:darkturquoise;
    background-color:black;
    border-style: groove;
    border-color: tomato;
    border-width: medium;
    width: 200px;
    border-radius: 100px;
    position: relative;
    left: 40%;
    box-shadow: 10px 5px 5px red;
    padding: 7px;
  }

  button {
    margin: 10px;
    background-color: peachpuff;
    border-style: groove;
    border-color: tomato;
    border-width: medium;
    width: 150px;
    border-radius: 100px;
    position: relative;
    margin: 40px;
    left: 40%;
    box-shadow: 10px 5px 5px red;
    padding: 7px;
  }

  
  button:hover {
    margin: 10px;
    background-color: peachpuff;
    border-style: groove;
    border-color: beige;
    border-width: medium;
    width: 150px;
    border-radius: 100px;
    position: relative;
    margin: 40px;
    left: 40%;
    box-shadow: 10px 5px 5px blueviolet;
    padding: 7px;
  }

  .box {
    margin: 10px;
    color: red;
    background-color: peachpuff;
    border-style: groove;
    border-color: tomato;
    border-width: medium;
    width: 225px;
    border-radius: 100px;
    position: relative;
    left: 40%;
    box-shadow: 10px 5px 5px red;
    padding: 7px;
  }

  .box:hover {
    margin: 10px;
    background-color:black;
    border-style: groove;
    border-color: tomato;
    border-width: medium;
    width: 225px;
    border-radius: 100px;
    position: relative;
    left: 40%;
    box-shadow: 10px 5px 5px red;
    padding: 7px;
  }



  input[type="email"] {
    text-align: center;
    
  }

  
  input[type="text"] {
    text-align: center;
  }

  input[type="number"] {
    text-align: center;
  }
  ::placeholder {  
    color: red;
    opacity: 1; 
  }



  .cover {
background: url('/static/media/pic.jpg');
}